
@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');

body {
font-family: 'El Messiri', sans-serif;
	overflow-x: hidden;
margin:0px;
}
.nav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;

	background-color: #FFF;
	opacity: .9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
.nav li
  {
	  text-align:center;
	   
		  font-size:16px;

  }
.nav a {
	display: block;
	padding: 20px 30px;
	font-size: 16px;
	text-decoration: none;
	color: black;
}
.nav a:hover {
	color: black;
	background-color:#E8EAED;
	transition: 0.3s;
    
}
.nav .close {
    color: aqua;
	position: absolute;
	top: 0;
	left: 22px;
	margin-right: 50px;
	font-size: 30px
}
.slide img{
	
	
	display:block;
}
#content {
	padding: 0px;
	transition: margin-right 0.7s;
	width: 100%;
}






















